.navbar navbar-ews bg-{
    background-color: red;
}

.logotipox{
    width: 132px;
    
    
}

.nav{
    justify-content: center;
    background-color: #dbca16;
}

.carouselslide{
    width: 600;
    
}

.formularioreg{
    width: 400;
    background: #dbca16;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    
}
 
.botonformulario{
    width: 100%;
    background-color: red;
    color: #93ff20;
}

.colorcarru{
    background-color: green;
    color:yellow;
}

.colorparracarru{
    background-color: green;
    color:yellow;
}
